*{
    margin: 0;
    padding: 0;
}



header{
    background-color:darkviolet;
}
    
#logo{
    height: 80px;

    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 10px;
}
nav{
    float: right;
    margin-top: 30px;
    margin-left: 100px;
}

.card >img{
    width: auto;
    height: 200px;
}